header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #dfe2db ;
    z-index: 999;

}
nav{
    display: flex;
    justify-content: space-between;

}
p, a, li, span, input, button, select{
    font-size: 18px;
}
.main-banner{
    min-height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.row{
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
}
.team{
    background-color: #ececec;
}
