.index-header {
    background-color: transparent;
    color: #fff;

}
.main-banner {
    /*background-image: url('../images/index-banner.jpeg');
    */
    
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://gdurl.com/gJJK");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
}
.main-banner .row {
    z-index: 2;
}
.section-title h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
}
.section-text p {
    margin-bottom: 10px;
}
/*.parallex {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}*/

.search-input input:focus {
    outline: 0;
}

.search-input input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 100%;
    color: #fff;
    padding: 10px 20px;
}

.search-input input::placeholder {
    color: #fff;
}
select:focus option {
    color: #232323;
}
select:focus {
    outline: 0;
    background: transparent;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
}
select {
    text-transform: capitalize;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 10px;
}
.btn {
    padding: 8px 50px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
}
.potd-card .potd-img img {
    box-shadow: 0 0 25px #232323
}

.potd-date h4,
.potd-credit h4 {
    color: #9a9a9a;
    font-size: 18px;
}
.potd-title h3 {
    font-size: 27px;
}

.potd-title,
.potd-caption,
.potd-date {
    margin-bottom: 20px;
}

.team-member {
    text-align: center;
}

.team-member div:not(:last-child) {
    margin-bottom: 20px;
}

.team-member-img img {
    margin: auto;
    box-shadow: 0 0 15px #9E9E9E;
}
footer {
    text-align: center;
    background-color: #232323;
}

footer p {
    color: #fff;
}

.search-form-title h3 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 45px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}
.index-header{
    box-shadow: none;
}
.index-header.after-scroll {
    background-color: #FDCE00;
    box-shadow: 7px 2px 7px #dcd6d6;
    color: #232323;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
header{
    background-color: #FDCE00;
    box-shadow: 7px 2px 7px #dcd6d6;
    color: #232323;
}
.about-card-img img {
    max-width: 150px;
    margin: auto;
}
.about-card-img,
.about-card-title {
    margin-bottom: 20px;
}
hr {
    width: 100px;
    border: 2px solid #FDCE00;
    margin: auto;
}
.about-card {
    text-align: center;
}
.about-card-title h4 {
    margin-bottom: 10px;
    font-size: 18px;
}
.section-text {
    text-align: center;
}

.photopro {
    color: #FDCE00;
    font-weight: bold;
}

.index-header .nav-link {
    color: #fff;
}
.login-btn {
    border: 1px solid #fff;
    border-radius: 3px;
}

.nav-link:not(:last-child) {
    margin-right: 10px;
}

.nav-link {
    padding: 7px 15px;
    color: #232323;
}
.login-btn {
    border: 1px solid #232323;
}

button.login-btn {
    background-color: transparent;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}
.nav-dropdown:hover .nav-dropdown-links {
    display: flex;
    flex-direction: column;
}

.nav-dropdown-links {
    background-color: transparent;
    padding: 10px 10px;
    position: absolute;
    top: 20px;
    left: 2px;
    display: none;
    min-width: 100%;
    text-align: center;
}
.inner-div {
    background-color: #eee;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

 .nav-link, .after-scroll .nav-link {
    color: #232323;
}

.inner-div {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.inner-div a:not(:last-child){
    margin-bottom: 10px;
}

.index-header .nav-link:hover{
    color: #FDCE00;
}
.index-header .login-btn:hover{
    background: transparent;
    border: 1px solid #FDCE00;
    color: #FDCE00;
}

.nav-link:hover, .after-scroll .nav-link:hover{
    color:#6d6d6d
}

.login-btn:hover , .after-scroll .login-btn:hover {
    background-color: #6d6d6d;
    border: 1px solid #6d6d6d;
    color: #FDCE00;
}

.photographer-details img{
    max-width: 40px;
    max-width: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.photographer-details-name{
    padding: 12px 0 0;
}

.img-tags li {
    background-color: #d8d8d8;
    color: #6d6d6d;
}
.img-related-info{
    background-color: #fff;
}
.search-result-card{
    box-shadow: 0px 0px 10px #bfb5b5;
}

.course-tittle h3{
    font-size: 20px;
    line-height: 1.2;
    margin-bottom:20px;
    text-align: center;

}
.course-card .course-img img {
    box-shadow: 0 0 25px #232323
}

.course-info {
   display: flex;
   flex-direction: column; 
   width:80%;
}
.course-inst h3 {
    color: #757575;
    font-size: 12px;
    margin: 40px 15px;
}
 .course-disc, .course-inst {
    margin-bottom:20px;
}

.course-card .course-img {
    width:80%;
    padding: 0 40px;
}
.course-card .course-info{
   
    text-align: center;
}
.course-inst{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.course-inst img{
    border-radius: 50%;
}

.course-hr{
    width: 400px;
    border: 1px solid #FDCE00;
    margin-bottom: 20px;
}
.course-disc{
    font-size: 16px;
    line-height: 1.3;
}
.courses-title{
    font-size: 35px;
    margin: 40px;
    text-align: center;
}
.course-card-section:nth-child(odd) {
    background-color: #f5f5f5;
}

.books-card .book-img{
    width:80%;
    padding: 0 40px;

}

.book-title h4{
font-size: 20px;

line-height: 1.3;
text-align: center;
}

.books-title{
    font-size: 35px;
    margin:40px;
    text-align: center;
}
.book-img img{
 margin:auto;
 box-shadow: 0 0 25px #232323;
 
}
.auther-title{
    text-align: center;
    color: #757575;
    font-size: 14px;
}
.book-hr{
    margin-top: 7px;
    margin-bottom: 7px;
    width: 150px;
}
.book-info{
    display: flex;
   flex-direction: column; 
   width:80%;
}
.books-card{
    display: flex;
    justify-content: space-between;
}
.books-cards:nth-child(even) {
    background-color: #f5f5f5;

}

.first-section{
    margin-top: 106px;

}
.regist-form{
    padding: 10px 30px 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
}
.form-input input{
    width: 100%;
    padding: 14px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border:1px solid #232323;
}
.form-input input:focus{
border: 1px solid #FDCE00;
outline: 0;

}
.section-icons img{
    margin: auto;
    max-width: 50px;
}
.section-icons{
    margin-bottom: 20px;
}
.form-input .btn{
    max-width: 200px;
    margin: auto;
    display: block;
    background-color: #232323;
}
.regist-form-section{
    min-height: 100vh;
}
.course-card {
    display: flex;
    justify-content: space-between;
}

.form-input .btn:hover{
    background-color: #FDCE00;
    color: #232323;}
    

    .search-results-search-form .search-input input,.search-results-search-form .search-select select{
        padding: 10px 15px;
        border-radius: 8px;

    }
    .search-results-search-form .search-input input::placeholder{
        font-size: 14px;
        color: #232323;
    }
    .search-results-search-form .search-input input{
        min-width: 320px;
    }
    .search-results-search-form  .btn{
        max-width: 200px;
        margin: auto;
        display: block;
        background-color: #232323;
        border-radius: 8px;
        padding: 12px 40px 8px;
    }
    .search-results-search-form  .btn:hover{

 background-color: #FDCE00;
    color: #232323;}

    .search-results-search-form .search-input input:focus, .search-results-search-form .search-select select:focus{
        border: 1px solid #FDCE00;
    }

   