.index-header, .transparent-header{
    background-color: transparent;
    color: #fff;

}
.main-banner {
    /*background-image: url('../images/index-banner.jpeg');
    */

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home-banner.jpg");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
}
.main-banner .row {
    z-index: 2;
}
.section-title h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #232323;
    margin-bottom: 10px;
}
.section-title {
    margin-bottom: 30px;
}
.regist-form-section .section-title h3{
    color: #fff;
}
.section-text p {
    margin-bottom: 10px;
}
/*.parallex {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}*/

.search-input input:focus {
    outline: 0;
}

.search-input input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 100%;
    color: #fff;
    padding: 10px 20px;
}

.search-input input::placeholder {
    color: #fff;
}
select:focus option {
    color: #232323;
}
select:focus {
    outline: 0;
    background: transparent;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
}
select {
    text-transform: capitalize;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 10px;
}
.btn {
    padding: 8px 50px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
}
.search-butten .btn:focus, .search-butten .btn:hover{
    outline: none;
    border: 1px solid #FDCE00;
    background-color: #FDCE00;
    color: #232323;
}
.potd-card .potd-img img {
    box-shadow: 0 0 25px #232323
}

.potd-date h4,
.potd-credit h4 {
    color: #9a9a9a;
    font-size: 18px;
}
.potd-title h3 {
    font-size: 27px;
}

.potd-title,
.potd-caption,
.potd-date {
    margin-bottom: 20px;
}
.team-member-img img{
    max-height: 360px;
}
.team-member {
    text-align: center;
}

.team-member div:not(:last-child) {
    margin-bottom: 20px;
}

.team-member-img img {
    margin: auto;
    box-shadow: 0 0 15px #9E9E9E;
}
footer {
    text-align: center;
    background-color: #232323;
}

footer p {
    color: #fff;
}

.search-form-title h3 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 45px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}
.index-header, .transparent-header {
    box-shadow: none;
}
.index-header.after-scroll {
    background-color: #FDCE00;
    box-shadow: 7px 2px 7px #8a7d7d;
    color: #232323;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
header {
    background-color: #FDCE00;
    box-shadow: 7px 2px 7px #dcd6d6;
    color: #232323;
}
.about-card-img img {
    max-width: 150px;
    margin: auto;
}
.about-card-img,
.about-card-title {
    margin-bottom: 20px;
}
hr {
    width: 100px;
    border: 2px solid #FDCE00;
    margin: auto;
}
.about-card {
    text-align: center;
}
.about-card-title h4 {
    margin-bottom: 10px;
    font-size: 18px;
}
.section-text {
    text-align: center;
}

.photopro {
    color: #FDCE00;
    font-weight: bold;
}

.index-header .nav-link, .transparent-header .nav-link {
    color: #fff;
}
.login-btn {
    border: 1px solid #fff;
    border-radius: 3px;
}

.nav-link:not(:last-child) {
    margin-right: 10px;
}

.nav-link {
    padding: 7px 15px;
    color: #232323;
}
.after-scroll  .login-btn{
    border: 1px solid #232323;
} 

button.login-btn {
    background-color: transparent;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}
.nav-dropdown:hover .nav-dropdown-links {
    display: flex;
    flex-direction: column;
}

.nav-dropdown-links {
    background-color: transparent;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 2px;
    display: none;
    min-width: 100%;
    text-align: center;
}

.after-scroll .nav-dropdown-links .inner-div {
    background-color: #FDCE00;
    box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.2)
}

.nav-link,
.after-scroll .nav-link {
    color: #232323;
}

.inner-div {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.inner-div a:not(:last-child) {
    margin-bottom: 10px;
}

.index-header .nav-link:hover, .transparent-header .nav-link:hover{
    color: #FDCE00;
}
.index-header .login-btn:hover, .transparent-header .login-btn:hover{
    background: transparent;
    border: 1px solid #FDCE00;
    color: #FDCE00;
}

.nav-link:hover,
.after-scroll .nav-link:hover {
    color: #6d6d6d
}

.login-btn:hover,
.after-scroll .login-btn:hover {
    background-color: #6d6d6d;
    border: 1px solid #6d6d6d;
    color: #FDCE00;
}

.photographer-details img {
    max-width: 40px;
    max-width: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.photographer-details-name {
    padding: 12px 0 0;
}

.img-tags li {
    background-color: #d8d8d8;
    color: #6d6d6d;
}
.img-related-info {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.remove-form-btn , .add-favourite-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.remove-form-btn .btn ,.add-favourite-form .btn{
    font-size: 20px;
    padding: 0;
    color: #6d6d6d;
    border: 1px solid #fff;
    cursor: pointer;
}

.remove-form-btn .btn:hover,
.remove-form-btn .btn:focus,
.add-favourite-form .btn:focus,
.add-favourite-form .btn:hover {
    color: #FDCE00;
    outline: none;
    font-size: 22px;
}

.search-result-card {
    box-shadow: 0 0 10px #bfb5b5;
}
.img-details-type p {
    text-transform: capitalize;
    margin-bottom: 10px;
}
.course-tittle {
    margin-bottom: 30px;
}
.course-tittle h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;

}
.course-card .course-img img {
    box-shadow: 0 0 25px #232323
}

.course-info {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.course-inst h3 {
    color: #757575;
    font-size: 15px;
    margin-left: 10px;
}
.course-inst-name{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.course-disc,
.course-inst {
    margin-bottom: 20px;
}

.course-card .course-img {
    width: 80%;
    padding: 0 40px;
}
.course-card .course-info {

    text-align: center;
}
.course-inst {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.course-inst img {
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
}

.course-hr {
    width: 100px;
    border: 2px solid #FDCE00;
}
.course-disc {
    font-size: 16px;
    line-height: 1.3;
}
.courses-title {
    font-size: 35px;
    margin: 40px;
    text-align: center;
}
.course-card-section:nth-child(odd) {
    background-color: #f5f5f5;
}

.books-card .book-img {
    width: 80%;
    padding: 0 40px;

}

.book-title h4 {
    font-size: 20px;

    line-height: 1.3;
    text-align: center;
}

.books-title {
    font-size: 45px;
    margin: 40px;
    text-align: center;
}
.book-img img {
    margin: auto;
    box-shadow: 0 0 25px #232323;

}
.auther-title {
    text-align: center;
    color: #757575;
    font-size: 14px;
    margin-bottom: 15px;
}
.book-hr {
    margin-top: 7px;
    margin-bottom: 17px;
    width: 100px;
}
.book-info {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.books-card {
    display: flex;
    justify-content: space-between;
}
.books-cards:nth-child(even) {
    background-color: #f5f5f5;

}

.first-section {
    margin-top: 106px;

}
.regist-form {
    padding: 10px 30px 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
}
.form-input input {
    color:#fff;
    background-color: transparent;
    width: 100%;
    border: 0;
    padding: 14px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.form-input input::placeholder{
    color: #fff;
}
.form-input input:focus::placeholder, .form-input input:focus{
    color: #FDCE00;
}
.form-input input:focus {
    border-bottom: 1px solid #FDCE00;
    outline: 0;
}

.section-icons img {
    margin: auto;
    max-width: 50px;
}
.section-icons {
    margin-bottom: 20px;
}
.form-input .btn {
    width: auto;  
    padding: 8px 50px;
    margin: 20px auto 0;
    display: block;
    background-color: transparent;
    border: 1px solid #fff;
}
.regist-form-section {
    min-height: calc(100vh - 50px);
}
.course-card {
    display: flex;
    justify-content: space-between;
}

.form-input .btn:hover, .form-input .btn:focus {
    border: 1px solid #FDCE00;
    background-color: #FDCE00;
    color: #232323;
}

.search-results-search-form .search-input input,
.search-results-search-form .search-select select {
    padding: 10px 15px;
}
 .search-input input:focus::placeholder {
    color: #FDCE00;
}
.search-results-search-form .search-input input {
    min-width: 320px;
}
/*.search-results-search-form .btn {
    max-width: 200px;
    margin: auto;
    display: block;
    background-color: #232323;
    border-radius: 8px;
    padding: 12px 40px 8px;
}

.search-results-search-form .btn:hover {

    background-color: #FDCE00;
    color: #232323;
}
*/
.search-input input:focus,
.search-select select:focus {
    color: #FDCE00;
    border-bottom: 1px solid #FDCE00;
}

.regist-form-section {
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../images/petra.jpg');
    background-size: cover;
}
.regist-form-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.regist-form-section .row{
    padding: 0;
    min-width: 400px;
}

.signup-form{
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../images/jerusalem.jpg');
    background-size: cover;
}

.section-title hr{
    width: 100px;
    border: 2px solid #FDCE00;
}
.potd-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.page-banner{
    background-position: 50% 70%;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../images/page-banner.jpg');
    padding: 206px 0 140px;
}

.page-banner h2{
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.search-results-searchQuery {
    padding: 0 0 60px;
}

.search-results-searchQuery h3{
    text-align: center;
    font-size: 30px;
}
.search-results-searchQuery .colored-word{
    color: #FDCE00;
    font-size: 30px;
}

.page-banner input::placeholder{
    font-size: 14px;
}
.filter-form{
    margin-top: 50px;
}
.filter-form form{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 350px;
}

.filter-form .search-select select{
    width: auto;
}

.team-member-contact{
    display: flex;
    justify-content: space-around;
}

.team-member-contact .fa{
    color: #232323;
    font-size: 30px;
}

.team-member-contact a:hover .fa{
    color: #FDCE00;
    font-size: 30px;
}

.team-member-name h4{
    font-size: 22px;
    margin-bottom: 10px;
}

.dropdown-title{
    cursor: pointer;
}

.userName{
    cursor: default;
}