<a href="/">Home</a>
<% if(!LoggedIn) {%>
<a href="/register">Register</a>
<a href="/login">Login</a>
<% } else{%>
    <a href="/dashboard">Dashboard</a>
    <a href="/favorite">Favorite List</a>
    <form action="/logout?_method=delete" method="POST">
    <button type="submit">Logout</button>
</form>
<a href="/courses">courses</a>
<a href="/books">books</a>

<% } %>
