<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=  pageName %></title>
    <link rel="stylesheet" href="./style/base.css">
</head>

<body>
    <% if(pageName === 'PhotoPro: Home'){ %>
    <header class="index-header">
        <%} else{ %>
            <header class="">
        <% } %>
        <nav>
            <div class="logo">
                <img id="logo" src="./images/new-white.png" alt="">
            </div>
            <div class="nav-bar">
                <a class="nav-link" href="/">Home</a>
                <div class="nav-dropdown" id="navDropdown">
                    <a class="nav-link"> Recommendations</a>
                    <div class="nav-dropdown-links" id="navDropdownLinks">
                        <div class="inner-div">
                            <a class="nav-link" href="/courses">Courses</a>
                            <a class="nav-link" href="/books">Books</a>
                        </div>
                    </div>
                </div>
               
                <% if(!LoggedIn) {%>
                <a class="nav-link login-btn" href="/register">Register</a>
                <a class="nav-link login-btn" href="/login">Login</a>
                <% } else{%>
                <a class="nav-link">Welcome, <%=user.name%></a>
                <a class="nav-link" href="/favorite">Favorite List</a>
                <form action="/logout?_method=delete" method="POST">
                    <button class="nav-link login-btn" type="submit">Logout</button>
                </form>
                <% } %>
            </div>
        </nav>
    </header>