<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
    <%- include('./components/header') %>
    </header>
    <main>
        <h1>Dashboerd</h1>
        <% if(LoggedIn){ %>
       <h1>Welcome, <%= user.name %></h1>
       <% } else{ %>
        <h1>Welcome, User</h1>
        <% } %>
    </main>
</body>

</html>