<%- include('./components/header') %>


<main>



    <section class="main-banner">
        <div class="parallex">
            
        </div>

        <div class="search-form">

            <%- include('./components/search-form') %>

        </div>
    </section>

    <section class="about-photopro">
        <div class="row">
            <div class="section-title">
                <h3>About</h3>
            </div>
            <div class="section-text">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque suscipit repudiandae aut sequi vitae
                    inventore quas exercitationem, iure iusto perferendis odio rerum explicabo quia dolores vel beatae,
                    veniam
                    facere natus.
                </p>
            </div>
        </div>
    </section>
    <section class="team">
        <div class="row">
            <div class="section-title">
                <h3>Contact Us</h3>

            </div>
            <div class="section-text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quisquam soluta eveniet quo
                    sapiente,
                    neque
                    ut ipsam ipsa cum quam voluptatum nemo minima molestias tempore, nam corrupti libero tempora eos!
                </p>

            </div>
        </div>
    </section>


</main>
<%- include('./components/footer') %>
</body>

</html>