<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>

        <%- include('./components/header') %>

    </header>
    <main>
        <h1>Homepage</h1>
        <% if(LoggedIn){ %>
        <h1>Welcome, <%= user.name %></h1>
        <% } else{ %>
        <h1>Welcome, User</h1>
        <% } %>

        <section class="main-banner">

            <div class="search-form">
                <%- include('./components/search-form') %>

            </div>
        </section>
        <section class="about-photopro">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque suscipit repudiandae aut sequi vitae
            inventore quas exercitationem, iure iusto perferendis odio rerum explicabo quia dolores vel beatae, veniam
            facere natus.
        </section>
        <section class="team">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quisquam soluta eveniet quo sapiente, neque
            ut ipsam ipsa cum quam voluptatum nemo minima molestias tempore, nam corrupti libero tempora eos!
        </section>


    </main>
    <%- include('./components/footer') %>
</body>

</html>