<%- include('./components/header') %>


<main>
    <section class="regist-form-section first-section">
        <div class="row">
            <div class='section-icons'>
                <img src="./images/login.png" alt="">
            </div>
            <div class="section-title">
                <h3>
                    LOGIN
                </h3>
            </div>
            <div class="regist-form">
                <form method="POST" action="/users/login">
                  <div class="form-input">  <input type="email" placeholder="Email" required name="email"></div>
                   <div class="form-input"> <input type="password" placeholder="Password" required name="password"></div>
                    <div class="form-input"><input class="btn" type="submit" value="Submit"></div>
                </form>
                <% if(messages.success_msg){ %>
                <ul>
                    <li><%= messages.success_msg %></li>
                </ul>
                <% } %>


                <% if(messages.error){ %>
                <ul>
                    <li><%= messages.error %></li>
                </ul>
                <% } %>
            </div>
</main>
<%- include('./components/footer') %>